body {
	font-family: 'Roboto', sans-serif;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 4em;
}

h1 {
	font-size: 30px;
	color: #2168b1;
	border-bottom: solid 1px #aaa;
	margin-bottom: 1em;
	font-family: 'Oswald', sans-serif;
}

input {
	font-size: 20px;
	border: solid 1px #ccc;
    border-radius: 4px;
    padding: 5px;
	color: #2168b1;
}

.ui-widget-header {
    border: 1px solid #2168b1;
    background: #2168b1;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
}

.ui-widget-header .ui-icon {
    background-image: url(../images/ui-icons_ffffff_256x240.png);
}

.ui-widget-content .ui-state-hover {  
    background: #ccc;
}

.ui-widget-header .ui-state-hover {
    border: 2px solid #888;
    background: #333;
}
